.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 5px 20px 5px 20px;
  padding: 0;
}

.header-icon {
  color: darkslategrey;
  font-size: 1.5em;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 5%;
}

.home {
  text-decoration: none;
  font-family: 'Corinthia', cursive;
  color: darkslategrey;
  font-size: 30px;
  font-weight: bold;
}
